.image{
  width: 100%;
  height: 100%;
  background-color: grey;
}

.image-placeholder {
  position: relative;
  padding-top: 56.25%
}

.player-wrapper {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 56.25%;
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}







