.video-container {
    position: relative;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s;
}

.video-container:hover .overlay {
    opacity: 1;
}
